<app-loading-circle
  class="h-100 w-100"
  *ngIf="is_loading; else ready_content"
></app-loading-circle>

<ng-template #ready_content>
  <div *ngIf="!is_loading" class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-sm d-flex flex-column">
        <div style="height: 45%; width: 100%">
          <app-stock-sub-info-summary-price
            class="h-100 w-100"
            [summary]="stock_summary_data.price_info"
          ></app-stock-sub-info-summary-price>
        </div>

        <div style="height: 55%; width: 100%">
          <app-stock-sub-info-summary-about
            class="h-100 w-100"
          ></app-stock-sub-info-summary-about>
        </div>
      </div>

      <div class="col-sm d-flex">
        <app-stock-sub-info-summary-chart
          class="w-100 h-100"
          [hourly_price]="stock_summary_data.hourly_record"
          [ticker] = 'ticker'
        ></app-stock-sub-info-summary-chart>
      </div>
    </div>
  </div>
</ng-template>

