<app-loading-circle
  class="h-100 w-100"
  *ngIf="is_loading; else ready_content"
></app-loading-circle>

<ng-template #ready_content>
  <div *ngIf="!is_loading" class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-sm d-flex flex-column">
        <app-stock-sub-info-summary-price
          class="mb-2"
          style="min-height: 150px"
          [summary]="stock_summary_data.price_info"
        ></app-stock-sub-info-summary-price>

        <app-stock-sub-info-summary-about
          style="flex: 1"
          [about]="stock_summary_data.about"
        ></app-stock-sub-info-summary-about>
      </div>

      <div class="col-sm">
        <app-stock-sub-info-summary-chart
          [hourly_price]="stock_summary_data.hourly_record"
          [ticker]="ticker"
          [color]="color"
        ></app-stock-sub-info-summary-chart>
      </div>
    </div>
  </div>
</ng-template>
