.container-xs {
  min-width: 70vw;
}

app-stock-main-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

app-stock-sub-info {
  width: 100%;
  display: flex;
}
