.search_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  max-width: 400px;
}

.form-control:focus {
  border-color: transparent;
  box-shadow: none;
}

.btn:focus {
  border-color: transparent;
  box-shadow: none;
}


input.mat-input-element {
  margin: 0 0 0 0;
}

.container {
  max-width: 400px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

