hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 10px;
	border-color:red;
} 

.my_navi{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
	position: fixed;
  	top: 1;
	z-index: 10000;
}

.my_navi > .title{
	float: left;
	text-align: center;
	padding: 30px 100px;
	font-size: 25px;
	color: #f3c50e;
	line-height: 30px;
}

.my_navi > .item{
	float: right;
}

.my_navi > .item > a {
	display: block;
	color: black;
	text-align: center;
	padding: 30px 20px;
	font-size: 15px;
	line-height: 30px;
	text-decoration: none;
	box-sizing: border-box;
}

/* Change the link color to #111 (black) on hover */
.my_navi > .item > a:hover {
	color: #f3c50e;
}

.my_navi > .item > .active {
	color: #f3c50e;
}

.selector {
	word-wrap: break-word;      /* IE 5.5-7 */
	white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
	white-space: pre-wrap;      /* current browsers */
}