body {
	background: white;
	margin: 0 0;
}

header {
	background: white;
	display: flex;
	width: 100%;
	height: 100px;
	margin: 0 auto;
	position: sticky;
	top: 0;
	z-index: 10000;
	color: white;
}

header .top_head {
	display: flex;
	width: 90%;
	margin: auto;
}

header .top_head .title{
	width: 30%;
	height: 100%;
	text-align: center;
	font-size: 25px;
	color: #af9453;
	line-height: 100px;
}

header .top_head .my_navi{
	width: 70%;
    margin: auto;
    padding: 0;
}

header .top_head .my_navi ul{
	display: flex;
	height: 60%;
	margin: auto;
	list-style-type: none;
	overflow: hidden;
}

header .top_head .my_navi li{
	float: right;
	text-align: center;
	margin: 0 auto;
}


header .top_head .my_navi li a {
	color: black;
	text-align: center;
	padding: 30px 20px;
	font-size: 15px;
	line-height: 30px;
	text-decoration: none;
}

header .top_head .my_navi li a:hover {
	color: #af9453;
}

header .top_head .my_navi li .active {
	color: #af9453;
}

header .top_head .my_navi li:last-child {
	margin-right: 0px;
}

.bottom {
	background: #af9453;
	display: flex;
	width: 90%;
	height: 140px;
	margin: 0 auto;
	margin-bottom: 20px;
	color: white;
}

.bottom section.info  {
	width: 60%;
	margin: auto;
}

.bottom section ul  {
	list-style-type: none;
	display: flex;
	overflow: hidden;
	width: 80%;
	height: 50px;
	margin: 0 auto;
}

.bottom section ul li  {
	/* background-color: green; */
	border-right: 1px solid white;
	width: 80%;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}

.bottom section ul li:last-child {
	border-right: none;
}

.bottom section.book  {
	display: inline-block;
	width: 30%;
	height: 40%;
	margin: auto;
	text-align: center;
}

.bottom section.book button  {
	background-color: #af9453;
	width: 60%;
	height: 80%;
	color: white;
	border: 2px solid white;
	text-transform: uppercase;
}

.front_page {
	background: url("./imgs/image3.png");
	background-size: cover;
	background-position: 0 -100px; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	width: 100%;
	height: 800px;
	margin-bottom: 50px;
	color: white;
}

.front_page .slogan {
	width: 40%;
	height: 30%;
	margin: auto;
}

.front_page .slogan p {
	text-align: center;
	font-size: 45px;
	margin: auto;
	height: 100%;
	line-height: 70px;
	font-family: "Garamond";
	letter-spacing: 0.2em;
}

.middle_page {
	width: 90%;
	height: 600px;
	margin: 0 auto;
	display: flex;
}

.middle_page .figure {
	width: 60%;
	height: 85%;
	margin: auto;
	margin-left: auto;
	margin-right: 0;
}

.middle_page .figure img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
}

.gallery_sect {
	background: url("./imgs/image2.png");
	background-size: cover;
	background-position: 0 250px; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	width: 90%;
	height: 600px;
	margin: auto;
	margin-bottom: 50px;
	color: white;
}


.flower_caption {
	background: url("imgs/flower.png");
	background-size: 100%;
	background-position: center;
	display: flex;
	flex-direction: column;
	width: 35%;
	height: 85%;
	margin: auto;
}

.flower_caption div#title {
	height: 15%;
	margin-top: 35%;
}

.flower_caption div#title p{
	width: 80%;
	height: 100%;
	margin: auto;
	font-size: 24px;
	color: white;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	font-family: "Arial";
	letter-spacing: 0.2em;
}

.flower_caption div#caption {
	height: 10%;
	width: 80%;
	margin: 0 auto;
	margin-top: 20%;
}

.flower_caption div#caption p{
	color: white;
	width: 80%;
	height: 100%;
	font-size: 20px;
	letter-spacing: 0.15em;
	margin: auto;
	text-align: center;
	line-height: 150%;
	font-family: "Times New Roman";
}

.flower_caption div#button {
	height: 25%;
	margin-top: 5%;
	text-align: center;
}

.flower_caption div#button button{
	width: 50%;
	height: 30%;
	background-color: transparent;
	position: relative;
	top: 25%;
	font-size: 13px;
	color: white;
	border: 2px solid white;
	text-transform: uppercase;
}


.quote {
	width: 90%;
	height: 450px;
	display: flex;
	margin: auto;
	margin-bottom: 50px;
}

.quote .arrow {	
	width: 10%;
	height: 20%;
	margin: auto;
}

.quote .arrow p {
	width: 100%;
	height: 50%;
	margin: auto;
	margin-top: 15%;
	color:#af9453;
	text-align: center;
	font-size: 60px;
}

.quote .midlle {
	width: 70%;
	height: 70%;
	display: flex;
	margin: auto;
	flex-direction: column;
}

.quote .midlle .quote_mark {
	height: 30%;
	display: flex;
	justify-content: center;
	font-family: "Times New Roman";
	font-size: 80px;
}

.quote .midlle .quote_mark p {
	width: 30%;
	height: 50%;
	margin: auto;
	margin-bottom: 2%;
	text-align: center;
}

.quote .midlle .word {
	height: 50%;
	text-align: center;
	font-family: "Times New Roman";
	letter-spacing: 0.1em;
	font-size: 25px;
	line-height: 175%;
}

.quote .midlle .author {
	height: 20%;
	text-align: center;
	font-size: 15px;
	color: #af9453;
	margin-top: 5%;
}