<!DOCTYPE html>
<html>
	<head>
		<title>HW 6</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
		{{ JSGlue.include() }}
	</head>

	<body>
		
		<div id="search">



		</div>

		<div id="content">
			<!-- <ul class="section_navi">
				<li>
					<button type="button" id="brief">Company</button>
				</li>

				<li>
					<button type="button" id="summary">Stock Summary</button>
				</li>

				<li>
					<button type="button" id="chart">Charts</button>
				</li>

				<li>
					<button type="button" id="news">Latest News</button>
				</li>
			</ul> -->

			<!-- <div id="main_content"> -->
				<!-- <div id="summary_content">
					<ul class="my_info_list" style="height: 65%;">
						<li>
							<div class="key">Stock Ticker Symbol</div>
							<div class="value">TSLA</div>
						</li>

						<li>
							<div class="key">Trading Day</div>
							<div class="value">02 February, 2022</div>
						</li>

						<li>
							<div class="key">Previous Closing Price</div>
							<div class="value">-25.59</div>
						</li>

						<li>
							<div class="key">Opening Price</div>
							<div class="value">-25.59</div>
						</li>

						<li>
							<div class="key">High Price</div>
							<div class="value">-25.59</div>
						</li>

						<li>
							<div class="key">Low Price</div>
							<div class="value">-25.59</div>
						</li>

						<li>
							<div class="key">Change</div>
							<div class="value">-25.59<img class ="arrow_img" src="./img/RedArrowDown.png"></div>
						</li>

						<li>
							<div class="key">Change Percent</div>
							<div class="value">-25.59<img class ="arrow_img" src="./img/RedArrowDown.png"></div>
						</li>
					</ul>

					<div class="recommend_list">
						<p style="color: #ed2837;">Strong Sell</p>

						<ul>
							<li>4</li>

							<li>6</li>

							<li>15</li>

							<li>9</li>

							<li>13</li>
						</ul>

						<p>Strong Buy</p>
					</div>

					<p class="list_slogan">
						Recommendation Trends
					</p>
				</div> -->
		<!-- </div> -->

		<script type="module" src={{ url_for('static', filename='./javascript/main.js') }}></script>
	</body>
</html>