<div class="w-100 h-100 d-flex justify-content-center">
  <div
    *ngIf="is_ready"
    class="d-flex flex-column w-75 align-content-center mt-3"
    style="max-width: 1000px"
  >
    <div *ngFor="let one_notice of notice_map | keyvalue">
      <app-transaction-notice
        [buy_notice]="one_notice.value.buy_notice"
        [sell_notice]="one_notice.value.sell_notice"
        [ticker]="one_notice.value.target_ticker"
        (buy_cancel)="close_buy_notice(one_notice.value.target_ticker)"
        (sell_cancel)="close_sell_notice(one_notice.value.target_ticker)"
      ></app-transaction-notice>
    </div>

    <p class="h2">My Portfolio</p>
    <p class="h4">Money in Wallet: ${{ balance }}</p>

    <div *ngIf="!is_empty">
      <app-single-portfolio-record
        *ngFor="let stock of transaction_rec_list"
        [data]="stock"
        (buy_event)="open_buy_modal($event)"
        (sell_event)="open_sell_modal($event)"
      >
      </app-single-portfolio-record>
    </div>

    <div *ngIf="is_empty">
      <ngb-alert
        type="warning"
        class="align-self-center mt-3 w-100 text-center"
        style="max-width: 1000px"
        [dismissible]="false"
      >
        Currently you don't have any stock in your watchlist
      </ngb-alert>
    </div>
  </div>
</div>
