/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content{
  position: relative;
}
.content:after {
  content:'';
  background: url("/assets/background-graph.jpg") no-repeat center center;
  background-size: 100% 100%;
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  z-index:-1;
  opacity: 0.2; /* Here is your opacity */
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
  padding-left: 8px;
  padding-right: 5px;
  text-align: center;
}

.mat-form-field-infix {
  padding-top: 0;
}


