<div class="container-fluid d-flex flex-column justify-content-center align-content-center">
  <div>
  <nav mat-tab-nav-bar mat-stretch-tabs [tabPanel]="tabPanel">
    <a mat-tab-link *ngFor="let section of sections"
       (click)="active = section"
       [active]="active == section"> {{tab[section]}} </a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  </div>

  <app-stock-sub-info-summary
    class="w-100 h-100"
    [hidden]="active !== tab.Summary"
  ></app-stock-sub-info-summary>

  <app-stock-sub-info-news
    class="w-100 h-100"
    [hidden]="active !== tab.News"
  ></app-stock-sub-info-news>

  <app-stock-sub-info-charts
    class="w-100 h-100"
    [hidden]="active !== tab.Charts"
  ></app-stock-sub-info-charts>

  <app-stock-sub-info-insights
    class="w-100 h-100"
    [hidden]="active !== tab.Insights"
  ></app-stock-sub-info-insights>
</div>
