.my_container {
  max-width: 100px;
  width: 100%;
  padding: 0 0;
  margin: 0 10px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*a {*/
/*  display: block;*/
/*  text-align: center;*/
/*  text-decoration: none;*/
/*  color: #696ac6;*/
/*}*/

button:hover {
  color: #9ca0fa;
}

button {
  width: 50%;
  height: 90%;
  margin-top: 2.5%;
  padding: 3px 3px 3px 3px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #696ac6;
}

.active {
  color: white;
	border: 2px solid white;
  border-radius: 5px;
}

