<div class="w-100 h-100 d-flex flex-column">
  <div class="mb-1 p-0 d-flex justify-content-end">
    <p class="h2" [ngStyle]="{ color: price.color }">
      {{ price.c }}
    </p>
  </div>

  <div
    class="d-flex justify-content-end mb-1"
    [ngStyle]="{ color: price.color }"
  >
    <fa-icon *ngIf="price.down" [icon]="faCaretDown" [classes]="['me-1']" style="margin-bottom: 0"></fa-icon>

    <fa-icon *ngIf="price.up" [icon]="faCaretUp" [classes]="['me-1']" style="margin-bottom: 0"></fa-icon>

    {{ price.d }}({{ price.dp }}%)
  </div>

  <div
    class="fw-normal mb-2 d-flex justify-content-end text-end"
    style="
      font-size: 12px;
      margin-right: 0;
      margin-left: auto;
    "
  >
    {{ price.cur_time }}
  </div>
</div>
